@model PostXML_AvisBudgetGroup.Model.PingModel

@{
    ViewBag.Title = "Page";
}

<h2>Resultado de Consulta</h2>
<p><strong></strong>: <span>@Model.EchoToken</span></p>
<p><strong></strong>: <span>@Model.Target</span></p>
<p><strong></strong>: <span>@Model.Url</span></p>
<p><strong></strong>: <span>@Model.Vendor</span></p>
<p><strong></strong>: <span>@Model.Message</span></p>


